<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            Name
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div> -->
<link href='https://fonts.googleapis.com/css?family=Fontin-Sans' rel='stylesheet'>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mainheading">
            <h2 style=" text-align: center"><b>Employee Details</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group row">
                                <div class="col-md-3"></div>
                                <div class="col-md-1">
                                    <label for="nameinput"><h5 style=" text-align: right">Name</h5></label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <table class="table">
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="nameinput">Name:</label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>    
                    <tr>
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Emp Id: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>    
                    <tr>
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Role: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>         
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mainheading">
            <h2 style=" text-align: center"><b>Applicant Details</b></h2>
        </div>
    </div>
    <div class="row center">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="appnameinput"><h5 style=" text-align: right">Applicant Name: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>    
                    <tr>
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Intrested Technology: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>    
                    <tr>
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Position Referred For: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr> 
                    <tr>
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Years of Experience: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>  
                    <tr>
                    
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Contact No: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr> 
                    <tr>                   
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Email Id: </h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr> 
                    <tr>                   
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Why this candidate is qualified for this position</h5></label>
                                    <input class="form-control" type="text" value="" id="example-text-input">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="EmpId"><h5 style=" text-align: right">Resume: </h5></label>
                                    <label class="custom-file">
                                        <input type="file" id="file" class="custom-file-input">
                                        <span class="custom-file-control"></span>
                                        </label>
                                </div>
                            </form>
                        </td>
                    </tr>         
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">&nbsp;</div>
        <div class="col-md-4">
            <!-- <i><fa name="plus-circle"></fa></i> -->
            <!-- <i class="fas fa-address-card"></i> -->
            <button style="font-size:24px; background-color: #4CAF50;"><fa name="check"></fa></button>
             <!-- style="font-size:24px; background-color: #4CAF50;  border-radius: 50px;" -->
            <button style="font-size:24px; background-color: red;"><fa name="close"></fa></button>
            <button style="font-size:24px; background-color: yellow;"(click)="draft()"><fa name="clone"></fa></button>
            <button style="font-size:24px; background-color: grey;" (click)="backtohome()" ><fa name="home"></fa></button>
        </div>
    </div>
</div>